@charset "UTF-8";
/* line 3, ../sass/app.scss */
body {
  position: relative;
  overflow: hidden;
}

/* line 9, ../sass/app.scss */
header {
  height: 50px;
  width: 100%;
  color: #fff;
}
/* line 13, ../sass/app.scss */
header .logo {
  height: 50px;
  float: left;
  font-size: 36px;
  line-height: 50px;
  margin-left: 30px;
}
/* line 20, ../sass/app.scss */
header .sign-in {
  height: 30px;
  margin: 10px;
  float: right;
  line-height: 30px;
  padding: 0 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-radius: 3px;
  color: #56bc8a;
  z-index: 3;
}
/* line 32, ../sass/app.scss */
header .sign-in .sign-in-mask {
  height: 30px;
  position: absolute;
  width: 100px;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: -1;
}
/* line 42, ../sass/app.scss */
header .log-in {
  z-index: 3;
  height: 30px;
  margin: 10px;
  float: right;
  line-height: 30px;
  padding: 0 20px;
  overflow: hidden;
  position: relative;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
}
/* line 54, ../sass/app.scss */
header .log-in .log-in-mask {
  position: absolute;
  height: 30px;
  width: 300px;
  background-color: #fff;
  opacity: 0.5;
  top: 0;
  left: 0;
}

/* line 67, ../sass/app.scss */
.app-btn {
  height: 100px;
  width: 30px;
  position: absolute;
  z-index: 1;
  top: 270px;
  left: 50px;
}
/* line 74, ../sass/app.scss */
.app-btn ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
/* line 79, ../sass/app.scss */
.app-btn ul li {
  height: 18px;
  width: 18px;
  border-radius: 18px;
  border: 3px solid #ccc;
  margin-bottom: 15px;
  cursor: pointer;
}
/* line 86, ../sass/app.scss */
.app-btn ul li:hover {
  border-color: #fff;
}
/* line 90, ../sass/app.scss */
.app-btn ul .active {
  width: 18px;
  height: 18px;
  background-color: #fff;
  border: none;
}

/* line 99, ../sass/app.scss */
.main {
  height: auto;
  width: auto;
  overflow: hidden;
  position: absolute;
  top: 500px;
}

/* line 107, ../sass/app.scss */
.section1 {
  width: 600px;
  height: auto;
  margin: 0 auto;
  padding-top: 100px;
}
/* line 112, ../sass/app.scss */
.section1 h1 {
  margin: 0 auto;
  color: #fff;
  font-size: 36px;
  width: 400px;
  text-align: center;
  margin-bottom: 20px;
}
/* line 120, ../sass/app.scss */
.section1 p {
  margin: 0 auto;
  color: #fff;
  font-size: 16px;
  font-family: "微软雅黑";
  width: 400px;
}
/* line 127, ../sass/app.scss */
.section1 .form {
  width: 300px;
  margin: 30px auto 0 auto;
}
/* line 131, ../sass/app.scss */
.section1 .form form input {
  height: 36px;
  line-height: 36px;
  width: 300px;
  text-indent: 1em;
  border: none;
}
/* line 137, ../sass/app.scss */
.section1 .form form input:nth-child(2) {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
/* line 141, ../sass/app.scss */
.section1 .form form input:nth-child(1) {
  border-radius: 5px 5px 0 0;
}
/* line 144, ../sass/app.scss */
.section1 .form form input:nth-child(3) {
  border-radius: 0 0 5px 5px;
}
/* line 152, ../sass/app.scss */
.section1 .form form input:focus {
  outline: none;
}
/* line 156, ../sass/app.scss */
.section1 .form form button {
  height: 36px;
  line-height: 36px;
  width: 300px;
  margin-top: 10px;
  background-color: #529ecc;
  color: #fff;
  border: none;
  border-radius: 4px;
}
/* line 167, ../sass/app.scss */
.section1 .form .go-in {
  width: 300px;
  text-decoration: center;
  height: 36px;
  color: #fff;
  text-align: center;
}
/* line 173, ../sass/app.scss */
.section1 .form .go-in a {
  margin-top: 10px;
  color: inherit;
  text-decoration: none;
  line-height: 36px;
  font-size: 20px;
}
/* line 179, ../sass/app.scss */
.section1 .form .go-in a span {
  margin-right: 5px;
}

/* line 189, ../sass/app.scss */
.section2 {
  color: #fff;
}
/* line 191, ../sass/app.scss */
.section2 .content {
  width: 600px;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 100px;
}
/* line 197, ../sass/app.scss */
.section2 .content h1 {
  font-size: 100px;
}

/* line 203, ../sass/app.scss */
.section3 {
  width: 600px;
  height: auto;
  margin: 0 auto;
  padding-top: 50px;
}
/* line 208, ../sass/app.scss */
.section3 h1 {
  margin: 0 auto;
  color: #fff;
  font-size: 36px;
  width: 400px;
  text-align: center;
  margin-bottom: 20px;
}
/* line 216, ../sass/app.scss */
.section3 p {
  margin: 0 auto;
  color: #fff;
  font-size: 16px;
  font-family: "微软雅黑";
  width: 400px;
}
/* line 223, ../sass/app.scss */
.section3 .form {
  width: 300px;
  margin: 30px auto 0 auto;
}
/* line 227, ../sass/app.scss */
.section3 .form form input {
  height: 36px;
  line-height: 36px;
  width: 300px;
  text-indent: 1em;
  border: none;
}
/* line 233, ../sass/app.scss */
.section3 .form form input:nth-child(2) {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-radius: 0 0 5px 5px;
}
/* line 238, ../sass/app.scss */
.section3 .form form input:nth-child(1) {
  border-radius: 5px 5px 0 0;
}
/* line 246, ../sass/app.scss */
.section3 .form form input:focus {
  outline: none;
}
/* line 250, ../sass/app.scss */
.section3 .form form button {
  height: 36px;
  line-height: 36px;
  width: 300px;
  margin-top: 10px;
  background-color: #529ecc;
  color: #fff;
  border: none;
  border-radius: 4px;
}
/* line 261, ../sass/app.scss */
.section3 .form .go-in {
  width: 300px;
  text-decoration: center;
  height: 36px;
  color: #fff;
  text-align: center;
}
/* line 267, ../sass/app.scss */
.section3 .form .go-in a {
  margin-top: 10px;
  color: inherit;
  text-decoration: none;
  line-height: 36px;
  font-size: 20px;
}
/* line 273, ../sass/app.scss */
.section3 .form .go-in a span {
  margin-right: 5px;
}

/* line 282, ../sass/app.scss */
footer {
  position: fixed;
  bottom: 0;
  height: 47px;
  width: 100%;
  background-color: #56bc8a;
  font-size: 36px;
  font-family: "Segoe Print";
  text-align: center;
  color: #fff;
  line-height: 47px;
  border-top: 3px solid #4da87b;
}
/* line 294, ../sass/app.scss */
footer span {
  cursor: pointer;
  line-height: inherit;
}
